<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CRUD</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/record/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/record/create">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/record/update">Update</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/record/delete">Delete</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/record/upload">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/record/getallfiles">Getallfiles</a>
        </li>
    </ul>
</nav>