<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <form action="/record/auth" method="post" id="login-form">
                <?= message ?>
                <h3>Login!!</h3>
                <input type="text" name="username" placeholder="username"><br><br>

                <input type="password" name="password" placeholder="password"><br><br>
                <input type="submit" id="form_submit" />
            </form>

        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        $("#form_submit").click((e) => {
            e.preventDefault();
            console.log("hii");
            const data = $("#login-form").serialize();
            $.ajax({
                url: "/record/auth",
                data: data,
                context: document.body,
                method: "POST",
            }).done(function (data) {
                console.log(data);
            });
        });
    </script>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>